{% raw -%}
# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/.local/bin:$HOME/bin

export PATH

# Oracle Settings
TMP=/tmp; export TMP
TMPDIR=$TMP; export TMPDIR

{% endraw -%}

ORACLE_HOSTNAME={{host_name}}; export ORACLE_HOSTNAME
ORACLE_BASE={{ oracle_bse }}; export ORACLE_BASE
ORACLE_HOME=$ORACLE_BASE/{{ oracle_ver }}/{{ oracle_app }}; export ORACLE_HOME
ORACLE_SID={{base_sid}}; export ORACLE_SID

{% raw -%}

ORACLE_TERM=xterm; export ORACLE_TERM
PATH=/usr/sbin:$PATH; export PATH

{% endraw -%}

PATH=$ORACLE_HOME/bin:$PATH:$ORACLE_BASE/{{ oracle_ver }}/{{ oracle_app }}OPatch; export PATH

{% raw -%}

LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib; export LD_LIBRARY_PATH
CLASSPATH=$ORACLE_HOME/JRE:$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib; export CLASSPATH
alias tlf='tail -f /u01/app/oracle/diag/rdbms/wint/WINT/trace/alert_WINT.log'

if [ $USER = "oracle" ]; then
  if [ $SHELL = "/bin/ksh" ]; then
    ulimit -p 16384
    ulimit -n 65536
  else
    ulimit -u 16384 -n 65536
  fi
fi

{% endraw -%}