{% raw -%}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% endraw -%}
{{ip_serv}} {{host_name}} {{host_name}}

