{% raw -%}
#!/bin/sh
{% endraw %}
{% raw %}
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
{% endraw %}
{% if type_plugin == 'true' %}

CLIENTE={{user_ssh_sql}}
HOST={{ip_ssh_sql}}
PASS="{{pass_ssh_sql}}"

{% raw %}
DATA=`date +%d%m%Y`
HORA=`date +%H%M%S`
{% endraw %}

DIR_BACKUP={{dir_bkp_sql}}/{{item}}/FULL
DIR_BACKUP_OLD=$DIR_BACKUP/Backup_old/
DIR_RED={{dir_copy_sql}}
CHECKLIST=/db/backup/checklist
LOG=check_integrity_backup_red_{{item}}_full_$DATA-$HORA.log

L1=`rm -rf /var/log/check_integrity_backup_red_{{item}}_full* ; rm -rf $DIR_RED/check_integrity_backup_red_tss_full*`

cd $DIR_BACKUP
CHECKBKP=`ls  {{inicio_nome}}*{{item}}*FULL*.bak -trl |tail -1 |awk '{print $9}'`
if [ -n "$CHECKBKP" ]; then
    md5sum -b $CHECKBKP > /var/log/$LOG
{% raw %}
    sshpass -p $PASS scp /var/log/$LOG $CLIENTE@$HOST:$DIR_RED
    NAGIOS=`sshpass -p $PASS ssh $CLIENTE@$HOST md5sum -c $DIR_RED/$LOG`
    echo $NAGIOS|head -n1 > $CHECKLIST/$LOG
    L2=`sshpass -p $PASS ssh $CLIENTE@$HOST rm -rf $DIR_RED/$LOG`
    clear
    echo "Relatorio salvo:  $CHECKLIST/$LOG"
else
    echo "Arquivo nao encontrado" > $CHECKLIST/$LOG
fi
{% endraw %}

{% else %}
{% raw %}
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

DATA=`date +%d%m%Y`
HORA=`date +%H%M%S`
{% endraw %}

DIR_BACKUP={{dir_bkp_sql}}/{{item}}/FULL
DIR_BACKUP_OLD=$DIR_BACKUP/backup_old/
DIR_RED={{dir_copy_sql}}
CHECKLIST=/db/backup/checklist

LOG=check_integrity_backup_red_{{item}}_full_$DATA-$HORA.log

L1=`rm -rf /var/log/check_integrity_backup_red_{{item}}_full* ; rm -rf $DIR_RED/check_integrity_backup_red_{{item}}_full*`

cd $DIR_BACKUP
CHECKBKP=`ls {{inicio_nome}}*{{item}}*FULL*.bak -trl|tail -1|awk '{print $9}'`
if [ -n "$CHECKBKP" ]; then
{% raw %} 
    md5sum -b $CHECKBKP > /var/log/$LOG
    cp -r  /var/log/$LOG $DIR_RED
    NAGIOS=`md5sum -c $DIR_RED/$LOG`
    echo $NAGIOS|head -n1 > $CHECKLIST/$LOG
    L2=`rm -rf $DIR_RED/$LOG`
    clear
    echo "Relatorio salvo:  $CHECKLIST/$LOG"
else
    echo "Arquivo nao encontrado" > $CHECKLIST/$LOG
{% endraw %}
{% endif %}