{% raw -%}
#!/bin/bash
{% endraw %}
BASE={{item}}

LIST_LOG=`ls /db/backup/checklist/check_integrity_backup_red_${BASE}_diff* -trl|tail -1 |awk '{print $9}'`

{% raw -%}
CHECK_LOG=`cat $LIST_LOG`
TRAT_CHECK_LOG=`echo $CHECK_LOG | awk '{print $2}'`

if [ -z $TRAT_CHECK_LOG ]
        then
        echo "Check_Integrity_Redundancia_DIFF_${BASE} - CHECAGEM DE INTEGRIDADE: ARQUIVO VAZIO "
        exit 2

        elif [ $TRAT_CHECK_LOG == 'OK' ]
        then
        echo "Check_Integrity_Redundancia_DIFF_${BASE} - CHECAGEM DE INTEGRIDADE: `echo $CHECK_LOG`"
        exit 0

        else
        echo "Check_Integrity_Redundancia_DIFF_${BASE} - CHECAGEM DE INTEGRIDADE: `echo $CHECK_LOG` "
        exit 2
fi

exit
{% endraw %}