{% raw -%}
#!/bin/sh
{% endraw %}

{% if type_plugin == 'true' %}

HOST_NUVEM={{ip_ssh_sql}}
USR_NUVEM={{user_ssh_sql}}
PASSW_NUVEM="{{pass_ssh_sql}}"

HOME_NUVEM={{dir_copy_sql}}
DIR_BKP={{dir_bkp_sql}}
DAY=$(date +"%u")

LOGSYNC="/db/backup/checklist/2com_sync_cloud.log"

SYNC="sshpass -p "$PASSW_NUVEM" rsync -avhp --inplace --partial --progress"
if
         [[ $DAY -eq 7 ]]
then
         $SYNC $DIR_BKP/{{item}}/FULL/{{inicio_nome}}*{{item}}*FULL*.bak $USR_NUVEM@$HOST_NUVEM:$HOME_NUVEM | tee -a  $LOGSYNC
         /db/backup/scripts/check_integrity_sql_full_{{item}}.sh
         mv -vf $DIR_BKP/{{item}}/FULL/{{inicio_nome}}*{{item}}*FULL*.bak $DIR_BKP/{{item}}/FULL/backup_old
else
        if [[ $DAY -lt 7 ]]
        then
                $SYNC $DIR_BKP/{{item}}/DIFF/{{inicio_nome}}*{{item}}*DIFF*.bak $USR_NUVEM@$HOST_NUVEM:$HOME_NUVEM | tee -a  $LOGSYNC
                /db/backup/scripts/check_integrity_sql_diff_{{item}}.sh
                mv -vf $DIR_BKP/{{item}}/DIFF/{{inicio_nome}}*{{item}}*DIFF*.bak $DIR_BKP/{{item}}/DIFF/backup_old
        else
                touch /db/backup/checklist/FalhaCopiaBackupRedundancia.log
        fi
fi

{% else %}

DATA=`date +%d%m%Y`
DIR_BKP={{dir_bkp_sql}}
DIR_RED={{dir_red_sql}}

umount -l $DIR_RED

if
        {{mount_red}}
then

        SYNC="rsync -avhp --inplace --partial --progress"
        if
                [[ $DAY -eq 7 ]]
        then
                $SYNC $DIR_BKP/{{item}}/FULL/{{inicio_nome}}*{{item}}*FULL*.bak $DIR_RED | tee -a  $LOGSYNC
                /db/backup/scripts/check_integrity_sql_full_{{item}}.sh
                mv -vf $DIR_BKP/{{item}}/FULL/{{inicio_nome}}*{{item}}*FULL*.bak $DIR_BKP/{{item}}/FULL/backup_old
        else
                if [[ $DAY -lt 7 ]]
                then
                        $SYNC $DIR_BKP/{{item}}/DIFF/{{inicio_nome}}*{{item}}*DIFF*.bak $DIR_RED | tee -a  $LOGSYNC
                        /db/backup/scripts/check_integrity_sql_diff_{{item}}.sh
                        mv -vf $DIR_BKP/{{item}}/DIFF/{{inicio_nome}}*{{item}}*DIFF*.bak $DIR_BKP/{{item}}/DIFF/backup_old
                else
                        touch /db/backup/checklist/FalhaCopiaBackupRedundancia.log
                fi
        fi
else
        touch /db/backup/checklist/FalhaCopiaBackupRedundancia.log
fi
{% endif %}