{% raw -%}
#!/bin/sh
{% endraw %}

{% if type_plugin == 'true' %}

HOST_NUVEM={{ip_ssh_sql}}
USR_NUVEM={{user_ssh_sql}}
PASSW_NUVEM={{pass_ssh_sql}}

HOME_NUVEM={{dir_copy_sql}}/LOG
DIR_BKP={{dir_bkp_sql}}
DAY=$(date +"%u")

LOGSYNC="/db/backup/checklist/2com_sync_cloud.log"

SYNC="sshpass -p "$PASSW_NUVEM" rsync -avhp --inplace --partial --progress"
ping -q -c 3 $HOST_NUVEM 1>/db/backup/checklist/$TIPO_SCRIPT_$HOST_NUVEM-$DATA.log

if
        CONEXAO=$?
        [ "$CONEXAO" == 0 ]
then
    $SYNC $DIR_BKP/{{item}}/LOG/{{inicio_nome}}*{{item}}*LOG*.trn $USR_NUVEM@$HOST_NUVEM:$HOME_NUVEM | tee -a  $LOGSYNC
    mv -vf $DIR_BKP/{{item}}/LOG/{{inicio_nome}}*{{item}}*LOG*.trn $DIR_BKP/{{item}}/LOG/Backup_old
else

    touch /db/backup/checklist/FalhaCopiaBackupRedundancia.log

fi

{% else %}

DATA=`date +%d%m%Y`
DIR_BKP={{dir_bkp_sql}}
DIR_RED={{dir_red_sql}}
SYNC="rsync -avhp --inplace --partial --progress"

umount -l $DIR_RED

if
        {{mount_red}}
then

    $SYNC $DIR_BKP/{{item}}/LOG/{{inicio_nome}}*{{item}}*LOG*.trn $DIR_RED | tee -a  $LOGSYNC
    mv -vf $DIR_BKP/{{item}}/LOG/{{inicio_nome}}*{{item}}*LOG*.trn $DIR_BKP/{{item}}/LOG/Backup_old

else
        touch /db/backup/checklist/FalhaCopiaBackupRedundancia.log
fi
{% endif %}