{% raw -%}
#!/bin/sh
{% endraw %}

{% if type_ssh_list == 'false' %}

BASE={{item}}
DIR_BACKUP_LOCAL="{{dir_red_sql}}/LOG"

{% raw -%}

QUANTIDADE_BACKUP=$(ls ${DIR_BACKUP_LOCAL} | grep "$BASE" | wc -l)
LISTAR=$(ls -tr ${DIR_BACKUP_LOCAL} | grep "$BASE" | tail -n 10 | xargs -d'\n')
{% endraw %}

BACKUP=$(find ${DIR_BACKUP_LOCAL} -maxdepth 1 -name "{{inicio_nome}}*$BASE*.trn" -mtime -1 | wc -l)
{% raw -%}

        if [ $BACKUP -ge 2 ]
        then
        echo "0 List_Backup_Red_LOG_"$BASE" result=0;1;2;0;2 OK - Encontrados = $QUANTIDADE_BACKUP --- ARQUIVOS  $LISTAR  "
        exit 0

        elif [  $BACKUP -eq 1 ]
        then
        echo "1 List_Backup_Red_LOG_"$BASE" result=1;1;2;0;2 WARN - Qde Backup Insuficiente =$QUANTIDADE_BACKUP --- ARQUIVOS  $LISTAR "
        exit 1


        elif [ $BACKUP -lt 1 ]
        then
        echo "2 List_Backup_Red_LOG_"$BASE" result=2;1;2;0;2 CRITICAL - Nenhum Backup Encontrado."
        exit 2

        else
        echo "3 List_Backup_Red_LOG_"$BASE" result=3;1;2;0;2 UNKNOWN - Erro ao tentar Encontrar backup"
        exit 3
        fi

{% endraw %}

{% else %}

BASE={{item}}
CLIENTE={{user_ssh_sql}}
HOST={{ip_ssh_sql}}
PASSW_NUVEM="{{pass_ssh_sql}}"
DIR_BKP={{dir_bkp_sql}}
DIR_STD="{{dir_copy_sql}}/LOG"

QUANTIDADE_BACKUP=$(sshpass -p $PASSW_NUVEM ssh -l $CLIENTE $HOST "ls $DIR_STD/*$BASE*  | wc -l")
LISTAR=$(sshpass -p $PASSW_NUVEM ssh -l $CLIENTE $HOST "ls -tr $DIR_STD/ | grep -i $BASE |tail -n 10 | xargs -d"\n"")
BACKUP=$(sshpass -p $PASSW_NUVEM ssh -l $CLIENTE $HOST "find $DIR_STD/ -maxdepth 1 -iname "{{inicio_nome}}*$BASE*.trn" -mtime -1 | wc -l")

{% raw -%}
        if [ $BACKUP -ge 2 ]
        then
        echo "0 List_Backup_Red_LOG_$BASE result=0;1;2;0;2 OK - Encontrados = $QUANTIDADE_BACKUP --- ARQUIVOS  $LISTAR  "
        exit 0

        elif [  $BACKUP -eq 1 ]
        then
        echo "1 List_Backup_Red_LOG_"$BASE" result=1;1;2;0;2 WARN - Qde Backup Insuficiente =$QUANTIDADE_BACKUP --- ARQUIVOS  $LISTAR "
        exit 1


        elif [ $BACKUP -lt 1 ]
        then
        echo "2 List_Backup_Red_LOG_$BASE result=2;1;2;0;2 CRITICAL - Nenhum Backup Encontrado."
        exit 2

        else
        echo "3 List_Backup_Red_LOG_$BASE result=3;1;2;0;2 UNKNOWN - Erro ao tentar Encontrar backup"
        exit 3
        fi
{% endraw %}  
{% endif %}