{% raw -%}
#!/bin/sh
# +------------------------------------------------------------------------------------------+
# |suporte@oracledba.com.br  - (62) 3095 8100                                                |
# |DBAs Oracle                                                                               |
# |------------------------------------------------------------------------------------------+
# |                                    2Com Consulting                                       |
# |------------------------------------------------------------------------------------------+
# | CLIENTE  :                                                                               |
# | TÉCNICO  : Caroline Santos                                                               |
# | ARQUIVO  : start_backup.sh                                                               |
# | VERSÃO   : 1.0                                                                           |
# | OBJETIVO : Automatizar processo de copia e checagem de integridade apos rotina de export |
# | CRIADO   : 01/12/2016                                                                    | 
# | ALTERADO :                                                                               |
# | IMPLANTADO: 17/03/2017 por Caroline Santos                                               |
# +------------------------------------------------------------------------------------------+
##############################################################################################
{% endraw %}

{% if type_plugin == 'true' %}
{% for dbbase in sql_bases %}

Copybkp_{{ dbbase }} () {
sleep 60
echo -e "Inicio Copia {{ dbbase }} para Redundancia via HD Externo"

/bin/bash  /db/backup/scripts/copy_backup_sql_ssh_{{ dbbase }}.sh
}

{% endfor %}
{% for dbbase in sql_bases %}
Copybkp_{{ dbbase }}
{% endfor %}
{% endif %}